*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hero{
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px ;
}
nav .drags{
    margin-right: 20px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
button{
    background: #efefef;
    height: 25px;
    width: 55px;
    border-radius: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
}
button span{
    display: block;
    background: #999;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 2px;
}
.text-container{
    max-width: 600px;
    margin-top: 10%;
    margin-left: 50%;
}
.text-container h2{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
    
    
}

