body{
    background-color: blanchedalmond) ;
}
h4{
    background-color: antiquewhite color;
    color: red;
    border-style: ridge;
    border-left: 0cqmin;
    border-bottom: 0cm;
}
pre{
    background-color: turquoise;
    font-family:"Press Start 2P","consolas";
    font-size: 15px;
    font-weight: bolder;
}
#p1{
    color:aliceblue
}